extends layout

block content
  div.container
    div.card
      div.card-header
        div.backdrop
        div.card-title Pizza Hut
        img.card-header-image(src='https://assets.tmecosys.com/image/upload/t_web767x639/img/recipe/ras/Assets/d6c392a84e4f665424d710649452e7f9/Derivates/a6bdb196bee23faef1d8020319c7c64750ef7686.jpg')
      div.card-body
        div.edit
          a(href='#') Edit
        div.card-details
          div.category Italian
          div.rating
        div.description
            //a single pipe | allows you to type free floating text
            | asldisdfbasbdksg dfiwreyf jsdfna as
            | asldisdfbasbdksg dfiwreyf jsdfna as
            | asldisdfbasbdksg dfiwreyf jsdfna as
            | asldisdfbasbdksg dfiwreyf jsdfna as
            | asldisdfbasbdksg dfiwreyf jsdfna as
            | asldisdfbasbdksg dfiwreyf jsdfna as
            | asldisdfbasbdksg dfiwreyf jsdfna as
            | asldisdfbasbdksg dfiwreyf jsdfna as