doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header.main-header
      img(src='https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRV22a1-6lhz49IvHmdhFIwzAl0Vzdd5HVfOw&s')
    block content
