mixin restaurantCard(restaurant)

    div.card-body
        a(href=`/edit/${restaurant.id}`) Edit
    div.card-details
        div.category= restaurant.category
        div.rating
            -for(let i = 0; i<restaurant.rating; i++)
                span &$X2b50
        div.description=restaurant.description